<h3>Available Questions</h3>

<div class="panel panel-primary">
  <div class="panel-heading">
    {{question.author}}: {{question.title}}
  </div>
  <div class="panel-body">
    {{question.content}}
  </div>
</div>
