<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Q & A</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "index"}}<a>Home</a>{{/link-to}}</li>
        <li>{{#link-to "about"}}<a>About Us</a>{{/link-to}}</li>
        <li>{{#link-to "contact"}}<a>Contact</a>{{/link-to}}</li>
        <!-- <li>{{#link-to "new-question"}}<a>Post a Question</a>{{/link-to}}</li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <header class = "jumbotron">
  </header>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{outlet}}
    </div>
  </div>
  <hr>
  <footer>
    {{#link-to 'about'}} About Us   |{{/link-to}}
    {{#link-to 'contact'}}   Contact Us {{/link-to}}
  </footer>
</div>
